.App{
  background-color: #ccf2ff;
  background-repeat: repeat;

}

/* Click button for Pokemon */
.PokeKnowmore{
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #0077b3;
  text-align: center;
}